/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= import fa-svg-with-js.css
 */

@import "bootswatch/superhero/variables";
@import "bootstrap";
@import "bootswatch/superhero/bootswatch";

$gradient-primary: linear-gradient(to right, #F83988, #EB2A48);
$gradient-success: linear-gradient(to right, #43e97b, #38f9d7);
$gradient-info: linear-gradient(to right, #00f2fe, #4facfe);
$gradient-warning: linear-gradient(to right, #f6d365, #fda085);
$gradient-danger: linear-gradient(to right, #ff0844, #ff825c);

body {
  background-color: #1C1E22;
}

.card {
  // background-color: #1C1E22;
  background-color: #2E3135;
  // border: 1px solid rgba(28, 30, 24, 0.4);

  .card-header {
    background-color: #516ae8;
  }

  &.bg-danger {
    .card-header {
      background:none;
    }
  }

  .list-group-item {
    background: #2E3135;
  }
}

.badge {
  text-transform: uppercase;

  &.badge-success {
    background-image: $gradient-success;
  }

  &.badge-info {
    background-image: $gradient-info;
  }
}

.btn {
  border-radius: .25rem;
  text-transform: uppercase;
  border: none;

  &.btn-primary {
    background-image: $gradient-primary;

    &:active {
      background-image: $gradient-primary !important;
    }
  }

  &.btn-success {
    background-image: $gradient-success;
  }

  &.btn-info {
    background-image: $gradient-info;
  }

  &.btn-warning {
    background-image: $gradient-warning;
  }

  &.btn-danger {
    background-image: $gradient-danger;
  }
}

.upvote{
  color: #ffffff;
  transform: perspective(1px) translateZ(0);
  cursor: pointer;

  &:hover {
    animation-duration: 0.3;
    animation: pop 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
}
  
  @keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    transform: scale(1.2);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.hook-card {
  animation: fadein 2s;
}


.react-tagsinput-tag {
  @extend .badge;
  @extend .badge-info;
  @extend .badge-pill;
  @extend .m-1;
  @extend .mb-2;
  @extend .p-2;
  animation: fadein 1s;
}

.react-tagsinput-input {
  @extend .form-control;
}

.react-tagsinput-tag a::before {
  content: " ×";
}
